<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  This code allows to import resources via FHIR service.
  Input data must be provided in ndjson format in one container in Azure blobs storage. 
  
  Performance:
    This client code was tested on gen1 FHIR with Cosmos DB in the backend.
    It allows to import 3B resources per day (35K resources/second) from single client VM.
    Throughput can be increased by using more client VMs.
  
  Prerequisites for performance:
    Cosmos DB is scaled up to >2.5M RUs/second (test used autoscale mode for database with >10TB of data).
    App service has >100K ACUs (test was run on 4 endpoins with 30 P3V2 VMs each).
    Client VM is in Azure in the same datacenter as FHIR service and Cosmos DB. It should have >=16 CPUs and >=100GB RAM.
    UseStringJsonParser=true
    
  Parameters below are set for high scale case. Lower values (10x lower for ReadThreads and WriteThreads) can be chosen for low end environments.
  -->
  <appSettings>
    <!-- Azure blob storage parameters -->
    <add key="ConnectionString" value="Connection string to Azure blob storage" />
    <add key="ContainerName" value="Container name which contains files in ndjson format" />
    <!-- FHIR endpoints. To add secondary endpoints use ";" separator. -->
    <add key="FhirEndpoints" value="https:/(your fhir app service).azurewebsites.net;" />
    <!-- Code is processing blobs in ranges. 
         If blobs are grouped in subdirectories with close number of resources per subdirectory, set this value to number of blobs in subdirectory. -->
    <add key="BlobRangeSize" value="19" />
    <!-- Each blob range is processed by one reader thread. Expected value for ReadThreads is >=1 -->
    <add key="ReadThreads" value="20" />
    <!-- WriteThreads is the total number of parallel http calls to FHIR service. Expected value for WriteThreads is >=ReadThreads. -->
    <add key="WriteThreads" value="10000" />
    <!-- NumberOfBlobsToSkip is helpful for process restarts. -->
    <add key="NumberOfBlobsToSkip" value="0" />
    <!-- To load all blobs in container MaxBlobIndexForImport can be set to 0. MaxBlobIndexForImport is 1-based. -->
    <add key="MaxBlobIndexForImport" value="20000" />
    <!-- ReportingPeriodSec is an interval on which status message is outputted to console. -->
    <add key="ReportingPeriodSec" value="30" />
    <!-- If MaxRetries is exceeded and error is not network specific, corresponding resource will not be imported, and error message will be put in the console output. -->
    <add key="MaxRetries" value="10" />
    <!-- UseStringJsonParser=true uses string comparison to get resource type and id from resource JSON instead of converting it to JObject. 
         It might not work for all ndjsons, so it should be tested first, and only then enabled (value set to true). -->
    <add key="UseStringJsonParser" value="false" />
    <!-- UseStringJsonParserCompare allows to compare results of lightweight string parser with convert to JObject. 
         It takes affect only if string parser is enabled. Use true only for test purposes. -->
    <add key="UseStringJsonParserCompare" value="false" />
    <!-- If true, code does not call FHIR endpoints and reads only from blob store. Used for testing only. -->
    <add key="ReadsOnly" value="false" />
  </appSettings>
</configuration>
