# directories
**/bin/
**/obj/
.github/
.vscode/
build/
docs/
release/
samples/
test/
tools/
.git/

# files
Dockerfile*
**/*.md

# keep minimal git info for SourceLink
!.git/HEAD
!.git/config
!.git/refs/
!.git/objects

# Other required exceptions
!tools/FhirAnalyzer
!tools/Microsoft.Health.Fhir.R4.ResourceParser
!THIRDPARTYNOTICES.md
