<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SourceDatabase" connectionString="server=.;database=tempdb;integrated security=true" />
    <add name="SourceDatabase2" connectionString="server=.;database=tempdb;integrated security=true" />
    <add name="TargetDatabase" connectionString="server=.;database=tempdb;integrated security=true" />
    <add name="QueueDatabase" connectionString="server=.;database=tempdb;integrated security=true" />
  </connectionStrings>
  <appSettings>
    <add key="Path" value="c:\storecopy" />
    <add key="Threads" value="32" />
    <add key="UnitSize" value="10000" />
    <add key="MaxRetries" value="5" />
    <add key="SingleTransaction" value="false" />
    <add key="SortBySurrogateId" value="true" />
    <add key="QueueOnly" value="false" />
    <add key="WritesEnabled" value="true" />
    <add key="Tables" value="Resource,ReferenceSearchParam,TokenSearchParam,CompartmentAssignment,TokenText,DateTimeSearchParam,TokenQuantityCompositeSearchParam,QuantitySearchParam,StringSearchParam,TokenTokenCompositeSearchParam,TokenStringCompositeSearchParam" />
    <add key="PartitionByPartOfResourceId" value="false" />
    <add key="SourceBlobConnectionString" value="" />
    <add key="SourceBlobContainerName" value="" />
  </appSettings>
</configuration>
