<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Database" connectionString="server=.;database=tempdb;integrated security=true" />
  </connectionStrings>
  <appSettings>
    <add key="Script" value="C:\Sergey\Development\FHIR-Server\src\Microsoft.Health.Fhir.SqlServer\Features\Schema\Migrations\65.diff.sql" />
    <add key="Execute" value="false" />
  </appSettings>
</configuration>
