<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Connection string to Azure blob storage" />
    <add key="ContainerName" value="Container name which contains files in ndjson format" />
    <add key="FhirServiceUrl" value="https:/(your fhir app service).azurewebsites.net" />
    <add key="Threads" value="500" />
    <add key="NumberOfBlobsToSkip" value="0" />
    <add key="NumberOfBlobsToImport" value="10" />
  </appSettings>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
