<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Azure blob storage parameters -->
    <add key="ConnectionString" value="Connection string to Azure blob storage" />
    <add key="ContainerName" value="Container name which contains files in ndjson format" />
    <!-- FHIR endpoints. Secondary endpoint is optional. It can be used to increase import throughput -->
    <add key="FhirEndpoint" value="https:/(your fhir app service).azurewebsites.net" />
    <add key="FhirEndpoint2" value="" />
    <!-- Code is processing blobs in ranges. Can be set to number of blobs in a sub directory. -->
    <add key="BlobRangeSize" value="21" />
    <add key="ReadThreads" value="4" />
    <add key="WriteThreads" value="1000" />
    <add key="NumberOfBlobsToSkip" value="0" />
    <add key="NumberOfBlobsToImport" value="100" />
    <add key="ReportingPeriodSec" value="30" />
    <add key="MaxRetries" value="50" />
    <add key="UseStringJsonParser" value="true" />
    <add key="UseStringJsonParserCompare" value="true" />
  </appSettings>
</configuration>
