﻿// -------------------------------------------------------------------------------------------------
// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License (MIT). See LICENSE in the repo root for license information.
// -------------------------------------------------------------------------------------------------

using MediatR;

namespace Microsoft.Health.Fhir.Core.Features.Operations.<JobName>.Mediator
{
    public class Create<JobName>Request : IRequest<Create<JobName>Response>
    {
        public Create<JobName>Request() { }
    }
}
