<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  This code allows to import resources from a storage container to a FHIR service.
  Input data must be provided in ndjson format in one container in Azure blobs storage.
  -->
  <appSettings>
    <!-- 
    If you just want to monitor an import then provide a url for this key/value
    Note that if this is provided then it only performs this operation and will not do any import.
    https://{your fhir endpoint}/_operations/import/{import id}
    The expected endpoint would be similar to this:
    -->
    <add key="MonitorImportStatusEndpoint" value=""/>
    
    <!--
    The amount of time to delay between calls to get the import status
    The value should be a timespan value
    -->
    <add key="ImportStatusDelay" value="00:02:00"/>

    <!-- Azure blob storage parameters -->
    <add key="ConnectionString" value="{Add your BlobServiceClient connection string here}" />
    <add key="ContainerName" value="{Add your container}" />
    <!-- 
    the type of files it'll search for in the container 
    do not add a file extension as ndjson is assumed and added to the ResourceType automatically
    -->
    <add key="ResourceType" value="Observation" />
    
    <!--
    a simple flag to indicate that when true we're going to use the token for our http POST/GET
    this is useful when you have a Paas deployment
    if you set to false then you could use it against an oss fhir service
    -->
    <add key="UseBearerToken" value="true"/>
    
    <!-- 
    the number we want to import at a time 
    of course this can be a much larger value than 20 so adjust as needed
    -->
    <add key="NumberOfBlobsForImport" value="20" />
    <add key="FhirEndpoint" value="{add your FHIR endpoint}" />

    <!-- the following are for getting a token -->
    <add key="TokenEndpoint" value="{add login url to your oauth2/token endpoint}" />
    <add key="grant_type" value="Client_Credentials" />
    <add key="client_id" value="{add your client id}" />
    <add key="client_secret" value="{add your client secret}" />
    <add key="resource" value="{add your FHIR endpoint}" />
  </appSettings>
</configuration>
