<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceConnectionString" value="" />
    <add key="TargetConnectionString" value="" />
    <add key="SourceContainerName" value="" />
    <add key="TargetContainerName" value="" />
    <add key="LinesPerBlob" value="500" />
    <add key="Threads" value="1" />
    <add key="SourceBlobs" value="19" />
    <add key="ReportingPeriodSec" value="30" />
    <add key="WritesEnabled" value="false" />
    <add key="SplitBySize" value="false" />
    <add key="ReadFromTargetInsteadOfWrite" value="true" />
    <add key="ThreadsPerSourceReadThread" value="1" />
    <add key="NameFilter" value="" />
  </appSettings>
</configuration>
