<?xml version="1.0" encoding="utf-8" ?>
<!--
 This program copy/rewrite blobs from one container to another. Assumes text blobs in ndjson format, i.e. operates on lines.
 -->
<configuration>
  <appSettings>
    <add key="SourceConnectionString" value="" />
    <add key="TargetConnectionString" value="" />
    <add key="SourceContainerName" value="" />
    <add key="TargetContainerName" value="" />
    <!-- If set to 0 copies entore blob, otherwise splits blob into multiple with LinesPerBlob written into each -->
    <add key="LinesPerBlob" value="0" />
    <!-- A given input blob is always being worked on by one thread. Can be used to increase total throughput. -->
    <add key="Threads" value="1" />
    <!-- Number of blobs from source container to copy/rewrite. -->
    <add key="SourceBlobs" value="1" />
    <add key="ReportingPeriodSec" value="30" />
    <!-- If false does only reads (can be used for throughput testing) -->
    <add key="WritesEnabled" value="true" />
    <!-- If false splits lines in blob by first characters of ResourceId (assumes ndjson format). -->
    <add key="SplitBySize" value="true" />
    <!-- Filter on blob names. If empoty string - no filtering. -->
    <add key="NameFilter" value="" />
  </appSettings>
</configuration>
