<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SourceDatabase" connectionString="server=.;database=tempdb;integrated security=true" />
    <add name="QueueDatabase" connectionString="server=.;database=tempdb;integrated security=true" />
  </connectionStrings>
  <appSettings>
    <add key="BlobConnectionString" value="" />
    <add key="BlobContainerName" value="export-poc" />
    <add key="ResourceType" value="Observation" />
    <add key="Threads" value="1" />
    <add key="UnitSize" value="50000" />
    <add key="MaxRetries" value="5" />
    <add key="StartDate" value="2022-02-27 00:04:53" />
    <add key="EndDate" value="2022-02-27 00:05:53" />
    <add key="ReadsEnabled" value="true" />
    <add key="WritesEnabled" value="true" />
    <add key="DecompressEnabled" value="true" />
    <add key="RebuildWorkQueue" value="true" />
    <add key="ReportingPeriodSec" value="30" />
  </appSettings>
</configuration>
