@using Microsoft.Health.Fhir.Api
@model dynamic
@{
    ViewBag.Title = "Welcome";
    Layout = "_Layout";
}

<div class="page-header">
    <div class="container" role="main">
        <h1>@Html.Raw(Resources.WelcomeTitle)</h1>
    </div>
</div>
