<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SourceDatabase" connectionString="server=.;database=tempdb;integrated security=true" />
    <add name="TargetDatabase" connectionString="server=.;database=tempdb;integrated security=true" />
    <add name="QueueDatabase" connectionString="server=.;database=tempdb;integrated security=true" />
  </connectionStrings>
  <appSettings>
    <add key="Threads" value="1" />
    <add key="UnitSize" value="80000" />
    <add key="MaxRetries" value="5" />
    <add key="QueueOnly" value="false" />
    <add key="TransactionsOnly" value="true" />
    <add key="WritesEnabled" value="false" />
    <add key="SourceBlobConnectionString" value="" />
    <add key="SourceBlobContainerName" value="" />
  </appSettings>
</configuration>
