<?xml version="1.0" encoding="utf-8" ?>
<!--
 This program is used to measure latency of selected methods from SqlStoreClient class.
 If allows also, to test different implementations of Resource (expects Resource_Table and Resource_View objects).
 It can be extended to do more.
 -->
<configuration>
  <connectionStrings>
    <!-- connection to tested database -->
    <add name="Database" connectionString="server=.;database=tempdb;integrated security=true" />
  </connectionStrings>
  <appSettings>
    <!-- connection string to storage where we store ids for test, random ids are picked from this list on each run -->
    <add key="StorageConnectionString" value="" />
    <add key="StorageContainerName" value="resourceids" />
    <add key="StorageBlobName" value="resourceids" />
    <!-- Parallel threads calls will run with -->
    <add key="Threads" value="1" />
    <!-- Number of calls to perform test on -->
    <add key="Calls" value="1" />
    <!-- supported values in CallType include: GetAsync, GetByTransactionId, HardDeleteNoChangeCapture, HardDeleteWithChangeCapture, HttpCreate, HttpUpdate, GetDate, LogEvent -->
    <add key="CallType" value="GetDate" />
    <!-- if true, code dumps (ResourceTypeId, ResourceId) combinations from the existing database to specified above storage -->
    <add key="WriteResourceIds" value="false" />
    <add key="ReportingPeriodSec" value="30" />
    <!-- if true, code switches from Resource as TABLE to Resource as VIEW on ResourceCurrent UNION ALL ResourceHistory -->
    <add key="PerformTableViewCompare" value="false" />
    <!-- Below is required to test HttpPut calls. Source data is expected in ndjson format. -->
    <add key="NDJsonStorageConnectionString" value="" />
    <add key="NDJsonStorageContainerName" value="payer250m" />
    <add key="FhirEndpoint" value="https://xxx.azurewebsites.net" />
    <add key="TakeBlobs" value="1" />
    <add key="SkipBlobs" value="0" />
    <add key="WritesEnabled" value="false" />
    <add key="NameFilter" value="Observation" />
  </appSettings>
</configuration>
