<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Database" connectionString="server=.;database=tempdb;integrated security=true"/>
  </connectionStrings>
  <appSettings>
    <add key="Threads" value="16"/>
    <add key="RebuildClustered" value="false"/>
    <add key="EventLogQuery" value="SELECT TOP 100 * FROM EventLog (NOLOCK) WHERE EventDate > dateadd(hour,-24,getUTCdate()) ORDER BY EventDate DESC, EventId DESC"/>
  </appSettings>
</configuration>
